.animated-border {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  z-index: 0;
  padding: 1px;
  box-sizing: border-box;
  border: 1px solid transparent;
  background: transparent;
  background-image: linear-gradient(90deg, #ff7a18 0%, #ff0040 33%, #319197 66%, #ff7a18 100%);
  background-size: 400% 100%; /* Larger size to ensure smooth single-direction flow */
  animation: moveGradient 4s linear infinite;
}

.inner-content {
  border-radius: 1rem;
  background-color: #000;
  position: relative;
  z-index: 1;
}

.inner-content, .animated-border {
  box-sizing: border-box;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 0%; /* Start at left */
  }
  100% {
    background-position: 400% 0%; /* Move to right */
  }
}




/* background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%); */
  /* background: conic-gradient(
    #ff3e3e,
    #b224a9, 
    #00d1b2, 
    #6b5cff, 
    #ff3e3e 
  ); */